.Rproj.user
.Rhistory
.RData
*.RDS
.RDataTmp
.Ruserdata
*.Robj
*.RData
*.zip
*.csv
*.Rproj


/Data/
/.quarto/
/Analysis_cache/
/Analysis_files/
/lisaClust_analysis/
_freeze/
docs/
data/processing/images/